# Exercise 22 - Spark SQL

From a csv file of the type `(name,age,gender)`, select male people and add 1 to their age

-----

In [16]:
# As usual, clear the destination folder to prevent overwriting
!hdfs dfs -rm -r /user/s315054/ex_results/res_out_Ex22

22/11/08 22:50:50 INFO fs.TrashPolicyDefault: Moved: 'hdfs://BigDataHA/user/s315054/ex_results/res_out_Ex22' to trash at: hdfs://BigDataHA/user/s315054/.Trash/Current/user/s315054/ex_results/res_out_Ex221667947850744

In [9]:
inPath = "/data/students/bigdata_internet/exercises/Ex22/data/persons.csv"
outPath = "/user/s315054/ex_results/res_out_Ex22"

df = spark.read.load(inPath, format="csv", header=True, inferSchema=True)
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)

In [10]:
# Solution using Spark transformations
df_male = df.filter("gender == 'male'")
df_male.show()

+-----+---+------+
| name|age|gender|
+-----+---+------+
| Paul| 40|  male|
| John| 40|  male|
|David| 15|  male|
+-----+---+------+

In [11]:
df_male_plus1 = df_male.selectExpr("name", "age + 1 AS new_age", "gender")
df_male_plus1.show()

+-----+-------+------+
| name|new_age|gender|
+-----+-------+------+
| Paul|     41|  male|
| John|     41|  male|
|David|     16|  male|
+-----+-------+------+

In [12]:
df_male_plus1.write.csv(outPath, header=False)

In [13]:
# Solution using SQL commands
# Assign name
df.createOrReplaceTempView("PeopleContent") 
df_male_plus1_2 = spark.sql("SELECT name, age+1 as new_age, gender \
                            FROM PeopleContent\
                            WHERE gender='male'\
                            ")
df_male_plus1_2.show()

+-----+-------+------+
| name|new_age|gender|
+-----+-------+------+
| Paul|     41|  male|
| John|     41|  male|
|David|     16|  male|
+-----+-------+------+

In [17]:
df_male_plus1_2.write.csv(outPath, header=False)