# Ripasso finale

## Ex 1 - Exam example 1

In [1]:
# DFs

in_file = '/data/students/bigdata_internet/exam_examples_data/example1_data/Prices.txt'

out_1 = '/user/s315054/exam_sim/SimEx1_1'

in_DF = spark.read.load(in_file, format='csv', header=False, inferSchema=True).toDF('stockID', 'date', 'time', 'price')

in_DF.createOrReplaceTempView('in_tab')

spark.udf.register('getYear', lambda date: int(date.split('/')[0]))

out_DF = spark.sql("""
        SELECT stockID, count(distinct(date)) AS n_dates
        FROM in_tab
        WHERE getYear(date) == 2016 AND price > 10
        GROUP BY stockID
        HAVING count(distinct(date))
""")

in_DF.printSchema()
out_DF.show()

root
 |-- stockID: string (nullable = true)
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- price: double (nullable = true)

+-------+-------+
|stockID|n_dates|
+-------+-------+
|   GOOG|      8|
|   FCAU|      7|
|   AMZN|      1|
+-------+-------+

## Ex2_1 - Exam example 1

In [9]:
# With DFs

spark.udf.register('makeStr', lambda c1, c2: str(c1) + '_' + str(c2))

out_2_1 = spark.sql("""
            SELECT makeStr(stockID, date) AS myStr, max(CAST(price AS float)) AS max_price
            FROM in_tab
            WHERE getYear(date) == 2016
            GROUP BY stockID, date
            ORDER BY stockID, date
""")

out_2_1.show()

23/02/02 21:37:08 WARN analysis.SimpleFunctionRegistry: The function makestr replaced a previously registered function.

+---------------+---------+
|          myStr|max_price|
+---------------+---------+
|AMZN_2016/01/04|     14.0|
|FCAU_2016/06/20|     11.0|
|FCAU_2016/06/21|     12.0|
|FCAU_2016/07/20|     11.0|
|FCAU_2016/07/21|     12.0|
|FCAU_2016/12/01|     9.95|
|FCAU_2016/12/02|      9.9|
|FCAU_2016/12/03|     10.1|
|FCAU_2016/12/04|     10.5|
|FCAU_2016/12/05|    10.53|
|GOOG_2016/01/01|     43.0|
|GOOG_2016/01/02|     45.0|
|GOOG_2016/01/03|     46.0|
|GOOG_2016/01/04|     40.0|
|GOOG_2016/06/20|     51.0|
|GOOG_2016/06/21|    51.99|
|GOOG_2016/07/20|    54.99|
|GOOG_2016/07/21|    51.99|
+---------------+---------+